<ion-content class="register-page">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inscription</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Nom d'affichage" [(ngModel)]="displayName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mot de passe" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-button (click)="signUp()" expand="block" [disabled]="!isFormValid()">
        S'inscrire
      </ion-button>
      <ion-button (click)="goToLogin()" fill="clear" color="medium" expand="block">
        J'ai déjà un compte
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>